# Supabase Backend Configuration
VITE_SUPABASE_URL=https://nvrjahggaxgjuzapadfe.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# Cloudinary Media Storage Configuration
VITE_CLOUDINARY_CLOUD_NAME=lyjntirb
VITE_CLOUDINARY_UPLOAD_PRESET=Zameer_preset
